.czechRepublicHeader {
   display: flex;
}

.czechName {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: whitesmoke;
}

nav {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
}

nav, a:hover {
    color: lightsalmon;
}

nav, a {
    color: whitesmoke;;
}

.headerImg {
    height: 600px;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

/* main body css */
.czechRepublicList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.czechRepublicList__cities {
    display: flex;
}
.city__img {
    height: 400;
    width: 200;
    
}

.czechRepublicList__landmarks {
    display: flex;
}

.czechRepublicList__citizens {
    display: flex;
}
