.czechRepublicHeader {
   display: flex;
}

.czechName {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: whitesmoke;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

nav {
    position: absolute;
    top: 550px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
}

nav, a:hover {
    color: lightsalmon;
}

nav, a {
    color: whitesmoke;
}

.headerImg {
    height: 600px;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

/* main body css */
.czechRepublicList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

.cityList {
    display: flex;
    text-align: center;

}


.landmarkList {
    display: flex;
    text-align: center;
}

.celebList {
    display: flex;
    text-align: center;
}

.image--card {
    height: 300px;
    width: 500px;
    object-fit: scale-down;
}