.czechRepublicHeader {
   display: flex;
}

.czechName {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: whitesmoke;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

nav {
    position: absolute;
    top: 470px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    
}

nav, a:hover {
    color: #b84b23;
}

nav, a {
    color: whitesmoke;
}

.headerImg {
    height: 500px;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

/* main body css */
body {
    background-image: url("/scripts/czech/landmarks/LandmarkPics/b.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


.czechRepublicList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 15px;
    
}

.cityList {
    display: flex;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 20pt;
    border: darkslategray;
    margin: 0.75em;
}


.landmarkList {
    display: flex;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 20pt;
    border: darkslategray;
    margin: 0.75em;
}

.celebList {
    display: flex;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: bold;
    font-size: 20pt;
    border: darkslategray;
    margin: 0.75em;
}

.image--card {
    height: 350px;
    width: 550px;
    object-fit: scale-down;
}